<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<nav  th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light" style="margin:10px">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <a class="navbar-brand"> Application TP </a>
    <a type="button" class="btn btn-outline-primary" th:href="'greeting?nameGET='+ ${nom}"> Acceuil </a>
    <a href="addresse" class="btn btn-outline-primary" > Les addresses enregistrées </a>
    <a href="adresse" class="btn btn-outline-primary">Demandez une nouvelle adresse</a>
</nav>


</body>
</html>